<div class="sign_up__wrapper clearfix">
  <article>
    <div class="sign_up__body">
      <div class="sign_up__content_bread_crunmb clearfix">
        <a href="http://zozo.jp/" class="sign_up_bread">ZOZOTOWN</a>
        <div class="bread_title">>新規会員登録</div>
      </div>
      <div class="sign_up__content_header clearfix">
        <i class="fa fa-user"></i>
        <h1>ログイン</h1>
      </div>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <div class="sign_up__content clearfix">
          <div class="sign_up__content__title">基本情報</div>
          <div class="sign_up__content__name clearfix">
            <div class="sign_up__content__name__title">
              <div class="sign_up__content__name__title-text">名前</div>
                <div class="sign_up__content__name__title-attention">必須</div>
            </div>
            <div class="sign_up__content__name__input_box">
            <%= f.text_field :name, :placeholder => '松平定信'%>
            </div>
          </div>
          <div class="sign_up__content__gender">
            <div class="gender_title">性別</div>
            <ul class="gender_content">
              <li class="gender_content__text">
                <label><%= f.radio_button :gender, "1" %>男性</label>
              </li>
              <li class="gender_content__text">
                <label><%= f.radio_button :gender, "2" %>女性</label>
              </li>
              <li class="gender_content__text">
                <label><%= f.radio_button :gender, "3" %>その他</label>
              </li>
            </ul>
          </div>
          <div class="sign_up__content__birthday">
            <div class="birthday_title">生年月日</div>
            <ul class="birthday_content">
              <li class="birthday_content__checkbox">
                <%= f.select :birth_year, [["2000", "2000"], ["2001", "2001"], ["2002", "2002"]] %>
                <span class="birthday_content__checkbox__text">年</span>
              </li>
              <li class="birthday_content__checkbox">
                <%= f.select :birth_month, [["1", "1"], ["2", "2"], ["3", "3"],["4", "4"], ["5", "5"], ["6", "6"],["7", "7"], ["8", "8"], ["9", "9"],["10", "10"], ["11", "11"], ["12", "12"]] %>
                <span class="birthday_content__checkbox__text">月</span>
              </li>
              <li class="birthday_content__checkbox">
                <%= f.select :birth_day, [["1", "1"], ["2", "2"], ["3", "3"],["4", "4"], ["5", "5"], ["6", "6"],["7", "7"], ["8", "8"], ["9", "9"],["10", "10"], ["11", "11"], ["12", "12"],["13", "13"], ["14", "14"], ["15", "15"],["16", "16"], ["17", "17"], ["18", "18"],["19", "19"], ["20", "20"], ["21", "21"],["22", "22"], ["23", "23"], ["24", "24"],["25", "25"], ["26", "26"], ["27", "27"],["28", "28"], ["29", "29"], ["30", "30"],["31", "31"]] %>
                <span class="birthday_content__checkbox__text">日</span>
              </li>
            </ul>
          </div>
          <div class="sign_up__content__post_number clearfix">
            <div class="sign_up__content__post_number__title">
              <div class="sign_up__content__post_number__title-text">郵便番号</div>
                <div class="sign_up__content__post_number__title-attention">必須</div>
            </div>
            <div class="sign_up__content__post_number__input_box">
              <div class="post_number__space">
              <%= f.text_field :postal_code, autofocus: true, :placeholder => '例：2617116' %>
             </div>
              <div class="post_number__attention">
                ※数字7ケタ、ハイフン無し
              </div>
            </div>
            <div class="sign_up__content__post_number__link">
              <a href="http://www.post.japanpost.jp/" class="sign_up__content__post_number__link__content">
                <div class="post_link">郵便番号を検索
                </div>
                <i href="http://www.post.japanpost.jp/" class="fa fa-arrow-right">
                </i>
              </a>
            </div>
          </div>
          <div class="sign_up__content__address clearfix">
            <div class="sign_up__content__address__title">
              <div class="sign_up__content__address__title-text">住所</div>
                <div class="sign_up__content__address__title-attention">必須</div>
            </div>
            <div class="sign_up__content__address__input_box">
              <div class="address__space">
              <%= f.text_field :address, auto_focus: true, :placeholder => '例：東京都新宿区歌舞伎町１丁目' %>
              </div>
            </div>
          </div>
          <div class="sign_up__content__telephone_number clearfix">
            <div class="sign_up__content__telephone_number__title">
              <div class="sign_up__content__telephone_number__title-text">電話番号</div>
                <div class="sign_up__content__telephone_number__title-attention">必須</div>
            </div>
            <div class="sign_up__content__telephone_number__input_box">
              <div class="address__space">
              <%= f.text_field :tel_number, auto_focus: true, :placeholder => '例：03-3200-9066' %>
            </div>
            </div>
          </div>
          <div class="sign_up__content__email clearfix">
            <div class="sign_up__content__email__title">
              <p class="sign_up__content__email__title__first">メールアドレス</p>
              <p class="sign_up__content__email__title__second clearfix">
                <span class="sign_up__content__email__title__second-text">(ZOZO ID)</span>
                <span class="sign_up__content__email__title__second-attention">必須</span>
              </p>
            </div>
            <div class="sign_up__content__email__input_box">
              <div class="email_space">
              <%= f.email_field :email, autofocus: true, :placeholder => '例：zozotown@zozo.jp' %>
              </div>
              <div class="email_attention">
                ※メールアドレスがZOZO IDになります。
              </div>
            </div>
          </div>
          <div class="sign_up__content__password clearfix">
            <div class="sign_up__content__password__title">
              <div class="sign_up__content__password__title-text">パスワード</div>
                <div class="sign_up__content__password__title-attention">必須</div>
            </div>
            <div class="sign_up__content__password__input_box">
              <div class="password_space">
              <% if @validatable %><i>(<%= @minimum_password_length %> characters minimum)</i><% end %>
              <%= f.password_field :password, autocomplete: "off", :placeholder => '例：2617116' %>
              </div>
              <div class="password_attention">
                ※ ZOZO IDに含まれない英数字混合8~12文字
              </div>
            </div>
          </div>
          <div class="sign_up__content__agreement">
            <input type="checkbox" name="agreement" value="yes">
            <div class="sign_up__content__agreement__content">
              <a href="http://zozo.jp/" class="agreement-text">利用規約</a>
              <i class="fa fa-square-0"></i>
              <span>、
              </span>
            </div>
            <div class="sign_up__content__agreement__content">
              <a href="http://zozo.jp/" class="agreement-text">個人情報保護方針</a>
              <i class="fa fa-square-0"></i>
              <span>に同意する</span>
            </div>
          </div>
          <div class="sign_up__content__registration">
            <input type="submit" name="registration" value="会員登録する" class="sign_up__content__registration__submit">
          </div>
        </div>
        <div class="sign_up__attention">
          <div class="sign_up__attention-first">
            ※ 携帯メールアドレスをご登録いただく場合、zozo.jpおよびcontact.zozo.jpからのドメイン着信許可を設定してください。
          </div>
          <div class="sign_up__attention-second">
            ※ 「会員登録する」を選択したことで、利用規約に同意されたものといたします。
          </div>
        </div>
      <% end %>
    </div>
  </article>
</div>

