<div class="confirm_wrapper">
  <div class="confirm_header">
    <p>
      <a href="#">ZOZOTOWN</a>
    </p>
  </div>

  <div class="confirm_body clearfix">
    <div class="content_header clearfix">
      <h1>注文内容の確認</h1>
      <p class="confirm_navi">
        <img src="https://zozo.jp/_cart/order/img/step_02.gif" alt="注文最終確認">
      </p>
    </div>

<!-- 最終確認ページ左 -->

    <div class="confirm_left clearfix">
      <!-- お届け先情報 -->
      <table class="address_table">
        <tbody>
          <tr>
            <td class="ttl">お届け先</td>
            <td class="send_info">
              <div>
                <p class="name">
                  <span><%= @info.name %></span> 様
                </p>
                <p class="add">
                  住所：〒
                  <span><%= @info.postal_code %></span>
                  <span><%= @info.address %></span>
                </p>
                <p class="tel">
                  電話：
                  <span><%= @info.tel_number %></span>
                </p>
              </div>
            </td>
            <td class="change">
              <a class="change_btn" href="#">変更</a>
            </td>
          </tr>
        </tbody>
      </table>
      <!-- お支払い情報 -->
      <table class="payment_table">
        <tbody>
          <tr>
            <td class="ttl">支払い方法</td>
            <td class="payment"><%= @howtopay %></td>
            <td class="price">¥324</td>
            <td class="change">
              <a class="change_btn" href="#">変更</a>
            </td>
          </tr>
        </tbody>
      </table>
      <!-- ポイント情報 -->
      <table class="point_table">
        <tbody>
          <tr>
            <td class="ttl">ZOZOポイント</td>
            <td>
              ご利用可能ポイント：
              <span>240</span>
              ポイント / 今回の還元ポイント：
              <span>22</span>
              ポイント
            </td>
          </tr>
        </tbody>
      </table>
      <!-- お届け商品情報 -->
      <div class="delivery_items">
        <div class="ttl">お届け商品</div>
        <div class="delivery_items_body">
          <!-- お届け日 -->
          <table class="delivery_date_table">
            <tbody>
              <tr>
                <td class="ttl">お届け日</td>
                <td>
                  <p class="pretty p-switch p-fill">
                    <input type="checkbox" />
                    <span class="state p-success">
                      <label><%= @delivery %></label>
                    </span>
                  </p>
                </td>
                <td class="price">
                  <p><span>¥0</span></p>
<!-- 一旦のコメントアウト、選択したもの以外薄くする機能が実装できたら、コメントアウト外してください -->
<!--                   <p><span>¥0</span></p>
                  <p><span>¥350</span></p> -->
                </td>
                <td class="change">
                  <a class="change_btn" href="#">変更</a>
                </td>
              </tr>
            </tbody>
          </table>
          <!-- 商品 -->
          <% @current_user_cart_products.each do |current_user_cart_product| %>
            <table class="delivery_products_table">
              <tbody>
                <tr>
                  <td class="ttl">商品</td>
                  <% current_user_cart_product.images.each do |image| %>
                    <td class="delivery_products_img">
                      <img src="<%= image.url %>" alt="#">
                  <% end %>
                  </td>
                  <td class="delivery_products_info">
                    <div>
                      <p class=""><%= current_user_cart_product.shop.name %></p>
                      <p class=""><%= current_user_cart_product.brand.name %></p>
                      <p class=""><%= current_user_cart_product.name %></p>
                      <p>
                        <% current_user_cart_product.colors.each do |color| %>
                          カラー：<span class=""><%= color.name %></span>
                        <% end %>
                      </p>
                      <p>
                        <% current_user_cart_product.sizes.each do |size| %>
                          サイズ：<span class=""><%= size.name %></span>
                        <% end %>
                      </p>
                      <p>
                        数量：<span class="">1</span>
                      </p>
                    </div>
                  </td>
                  <td class="price">
                    <span>¥<%= current_user_cart_product.price.to_s(:delimited) %></span>
                  </td>
                  <td class="change">
                    <a class="change_btn" href="#">変更</a>
                  </td>
                </tr>
              </tbody>
            </table>
          <% end %>
          <!-- 送料 -->
          <table class="postage_table">
            <tbody>
              <tr>
                <td class="ttl">送料</td>
                <td class="price">
                  <span>¥200</span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- 新着アイテムのお知らせ -->
      <table class="new_item_notification">
        <tbody>
          <tr>
            <td class="ttl">
              新着アイテムの<br>お知らせ
            </td>
            <td>
              <p>ご購入ブランドのセール情報や新入荷情報をお知らせします。</p>
              <ul class="">
                <li>
                  <p class="pretty p-switch p-fill">
                    <input type="checkbox" />
                    <span class="state p-success">
                      <label>Champion</label>
                    </span>
                  </p>
                </li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

<!-- 最終確認ページ右 -->

    <div class="confirm_right">
      <!-- 注文確定ボタン -->
      <div class="confirm_btn">
        <div class="btn">
          <!-- リンク先は/orders/newになる予定 -->
          <a href="#">
            <img src="https://zozo.jp/_cart/order/img/btn_accrue.png" alt="#">
          </a>
        </div>
      </div>
      <!-- 商品合計 -->
      <div class="products_total_payment">
        <dl class="goods_total clearfix">
          <dt>商品合計</dt>
          <dd id="subtotal">¥2,376</dd>
        </dl>
      </div>
      <!-- 割引オプション選択 -->
      <div class="point_option">
        <!-- 買い替え割引 -->
        <div class="trade_discount">
          <p class="pretty p-icon p-round p-pulse">
            <input type="checkbox" />
            <span class="state p-success">
              <i class="icon mdi mdi-check"></i>
              <label>買い替え割りを利用</label>
            </span>
          </p>
          <div class="tradable_items">
            <a href="#">
              <img src="https://img4.zozo.jp/tradein/pc/confirm_banner.png" alt="#">
            </a>
          </div>
        </div>
        <!-- ポイント利用割引 -->
        <div class="use_point">
          <p class="pretty p-icon p-round p-pulse">
            <input type="checkbox" />
            <span class="state p-success">
              <i class="icon mdi mdi-check"></i>
              <label>ZOZOポイントを利用</label>
            </span>
          </p>
          <p class="user_point">
            ご利用可能ポイント：<span id="">240</span>
            ポイント
          </p>
        </div>
      </div>
      <!-- 割引後品代・利用クーポン/ポイント合計 -->
      <div class="discount_option">
        <dl class="goods_total clearfix">
          <dt>品代</dt>
          <dd id="subtotal">¥2,376</dd>
        </dl>
        <dl class="coupon_point clearfix">
          <dt>クーポン・ポイント</dt>
          <dd id="use_point">
            -
            <span id="">0</span>
            pt
          </dd>
        </dl>
      </div>
      <!-- 最終支払い金額 -->
      <div class="final_total_payment">
        <dl class="postage_fee clearfix">
          <dt>送料</dt>
          <dd id="postage">¥200</dd>
        </dl>
        <dl class="commission_total clearfix">
          <dt>支払い手数料</dt>
          <dd id="commission_fee">¥0</dd>
        </dl>
        <dl class="final_total clearfix">
          <dt>合計
            <span class="tax_text">(税込)</span>
          </dt>
          <dd id="final_payment">¥3,000</dd>
        </dl>
      </div>
      <!-- 諸注意 -->
      <div class="attention">
        <div class="attention_note">
          <p>※送料は一律¥200です。</p>
        </div>
        <div class="return">
          <p>ご注文完了前に必ずサイズ・カラー・価格・数量のご確認をお願いいたします。</p>
          <p>一部商品や、商品状態等により注文取り消し・返品をお受けできない場合がございます。</p>
          <p class="return_about">
            <a href="#">返品について</a>
          </p>
        </div>
      </div>

    </div>
  </div>
</div>
