<div class="payments_wrapper">
  <div class="payments_header">
    <a href="#" class="payments_header__logo">ZOZOTOWN</a>
    <h3 class="payments_header__title">お届け先・配送方法・お支払い方法</h3>
  </div>
  <div class="payments__contents">
    <div method="get" class="payments__contents__form clearfix">
    <%= form_tag({ controller: 'orders', action: 'index'}, { method: :get, id: 'fm' }) do %>
      <div class="payments__contents__left">
        <div class="payments__contents__left__destination">
          <div class="payments__contents__left__destination__title">
            <div class="payments__contents__left__destination__title-text">
              お届け先
            </div>
          </div>
          <div class="payments__contents__left__destination__check_box">
            <div class="payments__contents__left__destination__check_box-user_info checked">
              <!-- 以下では、仮でユーザー1にしています。本番ではcurrent_userにしてください -->
              <%= radio_button 'payment', 'info', current_user.id, { checked: true} %>
                <%= "　" + current_user.name + "様" %><br>
                <!-- ここはビューの都合上全角を入力しているので、ご注意ください。 -->
                <%=  "　　" +  "〒" + current_user.postal_code %><br>
                <%=  "　　" + "住所：" + current_user.address %><br>
                <%=  "　　" + "電話：" + current_user.tel_number %>
            </div>
            <div class="payments__contents__left__destination__check_box-add_info">
              <%= radio_button 'payment', 'address', "新しいお届け先", {} %>
              <!-- ここはビューの都合上全角を入力しているので、ご注意ください。 -->
              　新しいお届け先（設定なし）
            </div>
            <div class="payments__contents__left__destination__check_box-add_info-text">
            </div>
          </div>
        </div>
        <div class="payments__contents__left__shipping_method">
          <div class="payments__contents__left__shipping_method__title">
            <div class="payments__contents__left__shipping_method__title-text">
              <p class="title-text">配送方法</p>
              <p class="title-text">お届け予定日</p>
            </div>
          </div>
          <div class="payments__contents__left__shipping_method__check_box" >
            <div class="payments__contents__left__shipping_method__check_box-add_info">
              <!-- ここはビューの都合上全角を入力しているので、ご注意ください。 -->
              <%= radio_button 'payment', 'delivery', "指定なし", { checked: true} %>　指定なし　　1～3日以内に発送　　　　　　0円
              <label for="radio-add_date" class="radio-add_date"></label>
              <div class="payments__contents__left__shipping_method__check_box-add_info-text">
              </div>
            </div>
            <div class="payments__contents__left__shipping_method__check_box-add_info">
              <!-- ここはビューの都合上全角を入力しているので、ご注意ください。 -->
              <%= radio_button 'payment', 'delivery', "日時指定", {} %>　日時指定（設定なし）　希望日時の選択　　0円
              <label for="radio-add_date" class="radio-add_date"></label>
              <div class="payments__contents__left__shipping_method__check_box-add_info-text">
              </div>
            </div>
            <div class="payments__contents__left__shipping_method__check_box-add_info">
              <!-- ここはビューの都合上全角を入力しているので、ご注意ください。 -->
              <%= radio_button 'payment', 'delivery', "即日配送", {} %>　即日配送（設定なし）　　　　　　　　　　350円
              <label for="radio-add_date" class="radio-add_date"></label>
              <div class="payments__contents__left__shipping_method__check_box-add_info-text">
              </div>
            </div>
          </div>
        </div>
        <div class="payments__contents__left__payments_method">
          <div class="payments__contents__left__payments_method__title">
            <div class="payments__contents__left__payments_method__title-text">
              お支払い方法
            </div>
          </div>
          <div class="payments__contents__left__payments_method__check_box" >
            <div class="payments__contents__left__payments_method__check_box-add_info">
              <!-- ここはビューの都合上全角を入力しているので、ご注意ください。 -->
              <%= radio_button 'payment', 'howtopay', "ツケ払い", { checked: true} %>　ツケ払い
              <label for="radio-add_pay" class="radio-add_pay"></label>
              <div class="payments__contents__left__payments_method__check_box-add_info-text">
              </div>
            </div>
          </div>
          <div class="payments__contents__left__payments_method__check_box" >
            <div class="payments__contents__left__payments_method__check_box-add_info">
              <!-- ここはビューの都合上全角を入力しているので、ご注意ください。 -->
              <%= radio_button 'payment', 'howtopay', "ZOZOCARD", {} %>　ZOZOCARD
              <label for="radio-add_pay" class="radio-add_pay"></label>
              <div class="payments__contents__left__payments_method__check_box-add_info-text">
              </div>
            </div>
          </div>
          <div class="payments__contents__left__payments_method__check_box" >
            <div class="payments__contents__left__payments_method__check_box-add_info">
              <!-- ここはビューの都合上全角を入力しているので、ご注意ください。 -->
              <%= radio_button 'payment', 'howtopay', "クレジットカード", {} %>　クレジットカード
              <label for="radio-add_pay" class="radio-add_pay"></label>
              <div class="payments__contents__left__payments_method__check_box-add_info-text">
              </div>
            </div>
          </div>
          <div class="payments__contents__left__payments_method__check_box" >
            <div class="payments__contents__left__payments_method__check_box-add_info">
              <!-- ここはビューの都合上全角を入力しているので、ご注意ください。 -->
              <%= radio_button 'payment', 'howtopay', "代金引換", {} %>　代金引換
              <label for="radio-add_pay" class="radio-add_pay"></label>
              <div class="payments__contents__left__payments_method__check_box-add_info-text">
              </div>
            </div>
          </div>
          <div class="payments__contents__left__payments_method__check_box" >
            <div class="payments__contents__left__payments_method__check_box-add_info">
              <!-- ここはビューの都合上全角を入力しているので、ご注意ください。 -->
              <%= radio_button 'payment', 'howtopay', "LINE Pay", {} %>　LINE Pay
              <label for="radio-add_pay" class="radio-add_pay"></label>
              <div class="payments__contents__left__payments_method__check_box-add_info-text">
              </div>
            </div>
          </div>
          <div class="payments__contents__left__payments_method__check_box" >
            <div class="payments__contents__left__payments_method__check_box-add_info">
              <!-- ここはビューの都合上全角を入力しているので、ご注意ください。 -->
              <%= radio_button 'payment', 'howtopay', "コンビニ", {} %>　コンビニ
              <label for="radio-add_pay" class="radio-add_pay"></label>
              <div class="payments__contents__left__payments_method__check_box-add_info-text">
              </div>
            </div>
          </div>
          <div class="payments__contents__left__payments_method__check_box" >
            <div class="payments__contents__left__payments_method__check_box-add_info">
              <!-- ここはビューの都合上全角を入力しているので、ご注意ください。 -->
              <%= radio_button 'payment', 'howtopay', "クロネコ代金後払い", {} %>　クロネコ代金後払い
              <label for="radio-add_pay" class="radio-add_pay"></label>
              <div class="payments__contents__left__payments_method__check_box-add_info-text">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="payments_contents__right">
        <div class="payments_contents__right__next_link">
          <div class="payments_contents__right__next_link-btn">
            <p class="next_link-btn">
              <%= submit_tag '次へ進む' %>
            </p>
          </div>
          <div class="payments_contents__right__next_link__fee">
            <div class="payments_contents__right__next_link__fee-products">
              <li class="fee_title">商品合計</li>
              <li class="fee_detail">¥<%= $total_price.to_s(:delimited) %></li>
            </div>
            <div class="payments_contents__right__next_link__fee-postage">
              <li class="fee_title">送料</li>
              <li class="fee_detail">¥200</li>
            </div>
            <div class="payments_contents__right__next_link__fee-commission">
              <li class="fee_title">支払い手数料</li>
              <li class="fee_detail">¥0</li>
            </div>
          </div>
          <div class="payments_contents__right__next_link__total">
            <li class="total_title">合計</li>
            <li class="total_tax">（税込）</li>
            <% $total_price_with_postage = $total_price + 200 %>
            <li class="total_detail">¥<%= $total_price_with_postage.to_s(:delimited) %></li>
          </div>
        </div>
      </div>
      <% end %>
    </div>
    <div class="payments__contents__bottom">
      <li class="payments__contents__bottom__attention">
        ※
        <a href="#" class="attention-link">ZOZOCARDとは？</a>
      </li>
      <li class="payments__contents__bottom__attention">
        ※デビット機能付きカード、カード会社発行のプリペイドカードのご利用はお控えください。詳しくは、
        <a href="#" class="attention-link">注意事項</a>
        をご確認ください
      </li>
      <li class="payments__contents__bottom__attention">
        ※コンビニを選択された場合、お支払いを確認後に配送方法「指定なし」でのお届けとなります。
      </li>
    </div>
  </div>
</div>
