<div class="products_details_main__right">
  <div class="products_details_main__right__coupon">
    ¥1,500クーポン対象商品
    <span class="products_details_main__right__coupon__all">すべての対象商品</span>
  </div>
  <div class="products_details_main__right__post_info">
    <span class="products_details_main__right__post_info-first">
      この商品は、即日配送なら
      <span class="info_strong">最短明日の午前中</span>
      にお届けできます
    </span>
  </div>
  <a href="https://www.google.co.jp/" class="products_details_main__right__post_date clearfix">お届け日指定について</a>
  <div class="products_details_main__right__brands_shops clearfix">
    <li class="shops_data">ショップ :
      <a href="http://www.dot-st.com/globalwork/" class="shops_name">GLOBALWORK</a>
    </li>
    <li class="brands_data">ブランド :
      <a href="http://www.dot-st.com/globalwork/" class="brands_name">
        <%= @product.brand.name %>
      </a>
    </li>
  </div>
  <div class="products_details_main__right__value">
    <div class="products_details_main__right__value__name">
      <%= @product.name %>
    </div>
    <a href="http://www.dot-st.com/globalwork/" class="products_details_main__right__value__review"><span id="">8</span>件の着用レビュー</a>
    <div class="products_details_main__right__value__price clearfix">
      <div class="products_details_main__right__value__price-discount">¥4000 ↓</div>
      <div class="products_details_main__right__value__price-data">¥<%= @product.price %></div>
      <div class="products_details_main__right__value__price-tax">税込</div>
      <div class="products_details_main__right__value__price-balloon">
        <p class="balloon-up">
          ツケ払いできます
          <span><a href="#">詳細</a></span>
        </p>
        <p>
          お支払いは
          <span id="payment_month">8月</span><span id="payment_day">16日</span>
          でOK
        </p>
      </div>
    </div>
    <div class="products_details_main__right__value__information clearfix">
      <div class="products_details_main__right__value__information-ratio">２０％ＯFF</div>
      <div class="products_details_main__right__value__information-explain">
        <p>(値引き額 : ¥<span id="">2,484</span>)</p>
      </div>
    </div>
    <div class="products_details_main__right__value__bonus clearfix">
      <div class="products_details_main__right__value__bonus-explain">
        5千円以上買うと<span class="explain_strong">旅行や漫画、エステの割引券もらえる</span>
        <span>
          <a href="http://www.dot-st.com/globalwork/" class="products_details_main__right__value__bonus-link">詳細</a>
        </span>
      </div>
    </div>
    <div class="products_details_main__right__value__detail clearfix">
      <li class="detail-trade_in clearfix">
        <i class="fa fa-recycle"></i>
        <div class="detail-trade_in-explain">
          下取り利用なら<span class="trade_in_strong">¥0</span>で買えるかも
          <span>
            <a href="http://www.dot-st.com/globalwork/" class="trade_in-link">詳細</a>
          </span>
        </div>
      </li>
      <li class="detail-point clearfix">
        <i class="fa fa-money"></i>
        <div class="detail-point-explain">
          <p><%= @product.point %>ポイント還元（ZOZOCARD : <%= @product.point * 2 %>ポイント還元）</p>
        </div>
      </li>
      <li class="detail-favorite clearfix">
        <i class="fa fa-heart-o"></i>
        <div class="detail-favorite-explain">
          <p>お気に入りアイテム登録数 :<%= @okiniiri %></p>
        </div>
      </li>
      <li class="detail-return clearfix">
        <div class="detail-return-explain">
          <p>※このアイテムは<span>返品・交換対象外商品</span>です。</p>
        </div>
      </li>
      <li class="detail-return">
       <div class="detail-return-explain">
         <p>※このアイテムは<span>返品・交換対象外商品</span>です。</p>
       </div>
     </li>
    </div>
  </div>
  <div class="products_details_main__right__stock clearfix">
    <div class="products_details_main__right__stock__color">
      <div class="products_details_main__right__stock__color-image">
        <img src="http://img5.zozo.jp/goodsimages/639/11022639/11022639B_16_D_35.jpg">
        <div class="image-color_name">浅葱色</div>
      </div>
      <div class="products_details_main__right__stock__color-size_s">
        <li class="products_details_main__right__stock__color-size_s-explain">
          S/在庫あり
        </li>
        <li class="products_details_main__right__stock__color-size_s-supplement">
          <i class="fa fa-male"></i>
          <div class="supplement-text">Sサイズ相当
        </li>
        <div class="products_details_main__right__stock__color-size_s-carts_link">
          <a href="http://www.dot-st.com/globalwork/" class="carts_link-btn">
            <i  class="fa fa-shopping-cart"></i>
              <%= form_for @product_cart, url: '/product_carts'  do |f| %>
              <%= f.hidden_field :product_id, value: @current_product_id %>
              <%= f.hidden_field :cart_id, value: @current_user_cart_id %>
                <%= f.submit 'カートに入れる', class: "g_btn btn_m" %>
              <% end %>
          </a>
        </div>
        <i class="fa fa-heart-o"></i>
      </div>
      <div class="products_details_main__right__stock__color-size_m">
        <li class="products_details_main__right__stock__color-size_m-explain">
          M/在庫あり
        </li>
        <li class="products_details_main__right__stock__color-size_m-supplement">
          <i class="fa fa-male"></i>
          <div class="supplement-text">Mサイズ相当
        </li>
        <div class="products_details_main__right__stock__color-size_m-carts_link">
          <a href="http://www.dot-st.com/globalwork/" class="carts_link-btn">
            <i  class="fa fa-shopping-cart"></i>
            <div class="g_btn btn_m" href="http://www.dot-st.com/globalwork/">カートに入れる</div>
          </a>
        </div>
        <i class="fa fa-heart-o"></i>
      </div>
      <div class="products_details_main__right__stock__color-size_l">
        <li class="products_details_main__right__stock__color-size_l-explain">
          L/在庫あり
        </li>
        <li class="products_details_main__right__stock__color-size_l-supplement">
          <i class="fa fa-male"></i>
          <div class="supplement-text">Lサイズ相当
        </li>
        <div class="products_details_main__right__stock__color-size_l-carts_link">
          <a href="http://www.dot-st.com/globalwork/" class="carts_link-btn">
            <i  class="fa fa-shopping-cart"></i>
            <div class="g_btn btn_m" href="http://www.dot-st.com/globalwork/">カートに入れる</div>
          </a>
        </div>
        <i class="fa fa-heart-o"></i>
      </div>
      <div class="products_details_main__right__stock__color-size_xl">
        <li class="products_details_main__right__stock__color-size_xl-explain">
          XL/在庫あり
        </li>
        <li class="products_details_main__right__stock__color-size_xl-supplement">
          <i class="fa fa-male"></i>
          <div class="supplement-text">XLサイズ相当
        </li>
        <div class="products_details_main__right__stock__color-size_xl-carts_link">
          <a href="http://www.dot-st.com/globalwork/" class="carts_link-btn">
            <i  class="fa fa-shopping-cart"></i>
            <div class="g_btn btn_m" href="http://www.dot-st.com/globalwork/">カートに入れる</div>
          </a>
        </div>
        <i class="fa fa-heart-o"></i>
      </div>
    </div>
    <div class="products_details_main__right__stock__color">
      <div class="products_details_main__right__stock__color-image">
        <img src="http://img5.zozo.jp/goodsimages/639/11022639/11022639B_16_D_35.jpg">
        <div class="image-color_name">浅葱色</div>
      </div>
      <div class="products_details_main__right__stock__color-size_s">
        <li class="products_details_main__right__stock__color-size_s-explain">
          S/在庫あり
        </li>
        <li class="products_details_main__right__stock__color-size_s-supplement">
          <i class="fa fa-male"></i>
          <div class="supplement-text">Sサイズ相当
        </li>
        <div class="products_details_main__right__stock__color-size_s-carts_link">
          <a href="http://www.dot-st.com/globalwork/" class="carts_link-btn">
            <i  class="fa fa-shopping-cart"></i>
            <div class="g_btn btn_m" href="http://www.dot-st.com/globalwork/">カートに入れる</div>
          </a>
        </div>
        <i class="fa fa-heart-o"></i>
      </div>
      <div class="products_details_main__right__stock__color-size_m">
        <li class="products_details_main__right__stock__color-size_m-explain">
          M/在庫あり
        </li>
        <li class="products_details_main__right__stock__color-size_m-supplement">
          <i class="fa fa-male"></i>
          <div class="supplement-text">Mサイズ相当
        </li>
        <div class="products_details_main__right__stock__color-size_m-carts_link">
          <a href="http://www.dot-st.com/globalwork/" class="carts_link-btn">
            <i  class="fa fa-shopping-cart"></i>
            <div class="g_btn btn_m" href="http://www.dot-st.com/globalwork/">カートに入れる</div>
          </a>
        </div>
        <i class="fa fa-heart-o"></i>
      </div>
      <div class="products_details_main__right__stock__color-size_l">
        <li class="products_details_main__right__stock__color-size_l-explain">
          L/在庫あり
        </li>
        <li class="products_details_main__right__stock__color-size_l-supplement">
          <i class="fa fa-male"></i>
          <div class="supplement-text">Lサイズ相当
        </li>
        <div class="products_details_main__right__stock__color-size_l-carts_link">
          <a href="http://www.dot-st.com/globalwork/" class="carts_link-btn">
            <i  class="fa fa-shopping-cart"></i>
            <div class="g_btn btn_m" href="http://www.dot-st.com/globalwork/">カートに入れる</div>
          </a>
        </div>
        <i class="fa fa-heart-o"></i>
      </div>
      <div class="products_details_main__right__stock__color-size_xl">
        <li class="products_details_main__right__stock__color-size_xl-explain">
          XL/在庫あり
        </li>
        <li class="products_details_main__right__stock__color-size_xl-supplement">
          <i class="fa fa-male"></i>
          <div class="supplement-text">XLサイズ相当
        </li>
        <div class="products_details_main__right__stock__color-size_xl-carts_link">
          <a href="http://www.dot-st.com/globalwork/" class="carts_link-btn">
            <i  class="fa fa-shopping-cart"></i>
            <div class="g_btn btn_m" href="http://www.dot-st.com/globalwork/">カートに入れる</div>
          </a>
        </div>
        <i class="fa fa-heart-o"></i>
      </div>
    </div>
    <div class="products_details_main__right__stock__color">
      <div class="products_details_main__right__stock__color-image">
        <img src="http://img5.zozo.jp/goodsimages/639/11022639/11022639B_16_D_35.jpg">
        <div class="image-color_name">浅葱色</div>
      </div>
      <div class="products_details_main__right__stock__color-size_s">
        <li class="products_details_main__right__stock__color-size_s-explain">
          S/在庫あり
        </li>
        <li class="products_details_main__right__stock__color-size_s-supplement">
          <i class="fa fa-male"></i>
          <div class="supplement-text">Sサイズ相当
        </li>
        <div class="products_details_main__right__stock__color-size_s-carts_link">
          <a href="http://www.dot-st.com/globalwork/" class="carts_link-btn">
            <i  class="fa fa-shopping-cart"></i>
            <div class="g_btn btn_m" href="http://www.dot-st.com/globalwork/">カートに入れる</div>
          </a>
        </div>
        <i class="fa fa-heart-o"></i>
      </div>
      <div class="products_details_main__right__stock__color-size_m">
        <li class="products_details_main__right__stock__color-size_m-explain">
          M/在庫あり
        </li>
        <li class="products_details_main__right__stock__color-size_m-supplement">
          <i class="fa fa-male"></i>
          <div class="supplement-text">Mサイズ相当
        </li>
        <div class="products_details_main__right__stock__color-size_m-carts_link">
          <a href="http://www.dot-st.com/globalwork/" class="carts_link-btn">
            <i  class="fa fa-shopping-cart"></i>
            <div class="g_btn btn_m" href="http://www.dot-st.com/globalwork/">カートに入れる</div>
          </a>
        </div>
        <i class="fa fa-heart-o"></i>
      </div>
      <div class="products_details_main__right__stock__color-size_l">
        <li class="products_details_main__right__stock__color-size_l-explain">
          L/在庫あり
        </li>
        <li class="products_details_main__right__stock__color-size_l-supplement">
          <i class="fa fa-male"></i>
          <div class="supplement-text">Lサイズ相当
        </li>
        <div class="products_details_main__right__stock__color-size_l-carts_link">
          <a href="http://www.dot-st.com/globalwork/" class="carts_link-btn">
            <i  class="fa fa-shopping-cart"></i>
            <div class="g_btn btn_m" href="http://www.dot-st.com/globalwork/">カートに入れる</div>
          </a>
        </div>
        <i class="fa fa-heart-o"></i>
      </div>
      <div class="products_details_main__right__stock__color-size_xl">
        <li class="products_details_main__right__stock__color-size_xl-explain">
          XL/在庫あり
        </li>
        <li class="products_details_main__right__stock__color-size_xl-supplement">
          <i class="fa fa-male"></i>
          <div class="supplement-text">XLサイズ相当
        </li>
        <div class="products_details_main__right__stock__color-size_xl-carts_link">
          <a href="http://www.dot-st.com/globalwork/" class="carts_link-btn">
            <i  class="fa fa-shopping-cart"></i>
            <div class="g_btn btn_m" href="http://www.dot-st.com/globalwork/">カートに入れる</div>
          </a>
        </div>
        <i class="fa fa-heart-o"></i>
      </div>
    </div>
    <div class="products_details_main__right__stock__color">
      <div class="products_details_main__right__stock__color-image">
        <img src="http://img5.zozo.jp/goodsimages/639/11022639/11022639B_16_D_35.jpg">
        <div class="image-color_name">浅葱色</div>
      </div>
      <div class="products_details_main__right__stock__color-size_s">
        <li class="products_details_main__right__stock__color-size_s-explain">
          S/在庫あり
        </li>
        <li class="products_details_main__right__stock__color-size_s-supplement">
          <i class="fa fa-male"></i>
          <div class="supplement-text">Sサイズ相当
        </li>
        <div class="products_details_main__right__stock__color-size_s-carts_link">
          <a href="http://www.dot-st.com/globalwork/" class="carts_link-btn">
            <i  class="fa fa-shopping-cart"></i>
            <div class="g_btn btn_m" href="http://www.dot-st.com/globalwork/">カートに入れる</div>
          </a>
        </div>
        <i class="fa fa-heart-o"></i>
      </div>
      <div class="products_details_main__right__stock__color-size_m">
        <li class="products_details_main__right__stock__color-size_m-explain">
          M/在庫あり
        </li>
        <li class="products_details_main__right__stock__color-size_m-supplement">
          <i class="fa fa-male"></i>
          <div class="supplement-text">Mサイズ相当
        </li>
        <div class="products_details_main__right__stock__color-size_m-carts_link">
          <a href="http://www.dot-st.com/globalwork/" class="carts_link-btn">
            <i  class="fa fa-shopping-cart"></i>
            <div class="g_btn btn_m" href="http://www.dot-st.com/globalwork/">カートに入れる</div>
          </a>
        </div>
        <i class="fa fa-heart-o"></i>
      </div>
      <div class="products_details_main__right__stock__color-size_l">
        <li class="products_details_main__right__stock__color-size_l-explain">
          L/在庫あり
        </li>
        <li class="products_details_main__right__stock__color-size_l-supplement">
          <i class="fa fa-male"></i>
          <div class="supplement-text">Lサイズ相当
        </li>
        <div class="products_details_main__right__stock__color-size_l-carts_link">
          <a href="http://www.dot-st.com/globalwork/" class="carts_link-btn">
            <i  class="fa fa-shopping-cart"></i>
            <div class="g_btn btn_m" href="http://www.dot-st.com/globalwork/">カートに入れる</div>
          </a>
        </div>
        <i class="fa fa-heart-o"></i>
      </div>
      <div class="products_details_main__right__stock__color-size_xl">
        <li class="products_details_main__right__stock__color-size_xl-explain">
          XL/在庫あり
        </li>
        <li class="products_details_main__right__stock__color-size_xl-supplement">
          <i class="fa fa-male"></i>
          <div class="supplement-text">XLサイズ相当
        </li>
        <div class="products_details_main__right__stock__color-size_xl-carts_link">
          <a href="http://www.dot-st.com/globalwork/" class="carts_link-btn">
            <i  class="fa fa-shopping-cart"></i>
            <div class="g_btn btn_m" href="http://www.dot-st.com/globalwork/">カートに入れる</div>
          </a>
        </div>
        <i class="fa fa-heart-o"></i>
      </div>
    </div>
  </div>
</div>

