<div class="wrapper">
  <div id="leftContent" class="aSide clearfix">
    <section id="newItemList" class="menuBox section">
      <h2>探す</h2>
      <ul class="lists">
        <li>
          <a href="/brands">ブランドから探す</a>
        </li>
        <li>
          <a href="/shops">ショップから探す</a>
        </li>
        <li>
          <a href="/rankings">ランキングから探す</a>
        </li>
        <li>
          <a href="/coordinate/">コーディネートから探す</a>
        </li>
        <li>
          <a href="/detail/">こだわり条件から探す</a>
        </li>
      </ul>
    </section>
    <section id="categoryList" class="menuBox section menuCategory">
      <h2>カテゴリー</h2>
      <ul id="normal" class="lists">
        <li>
          <a href="http://zozo.jp/category/tops/?mmid=2453">トップス</a>
          <div>
            <ul class="clearfix">
              <li>
                <a href="http://zozo.jp/category/tops/tshirt-cutsew/?mmid=2453">Tシャツ/カットソー</a>
              </li>
              <li>
                <a href="http://zozo.jp/category/tops/tshirt-cutsew/?mmid=2453">シャツ/ブラウス</a>
              </li>
              <li>
                <a href="http://zozo.jp/category/tops/tshirt-cutsew/?mmid=2453">ポロシャツ</a>
              </li>
              <li>
                <a href="http://zozo.jp/category/tops/tshirt-cutsew/?mmid=2453">ニット/セーター</a>
              </li>
              <li>
                <a href="http://zozo.jp/category/tops/tshirt-cutsew/?mmid=2453">ベスト</a>
              </li>
              <li>
                <a href="http://zozo.jp/category/tops/tshirt-cutsew/?mmid=2453">パーカー</a>
              </li>
              <li>
                <a href="http://zozo.jp/category/tops/tshirt-cutsew/?mmid=2453">スウェット</a>
              </li>
              <li>
                <a href="http://zozo.jp/category/tops/tshirt-cutsew/?mmid=2453">カーディガン</a>
              </li>
              <li>
                <a href="http://zozo.jp/category/tops/tshirt-cutsew/?mmid=2453">アンサンブル</a>
              </li>
              <li>
                <a href="http://zozo.jp/category/tops/tshirt-cutsew/?mmid=2453">ジャージ</a>
              </li>
              <li>
                <a href="http://zozo.jp/category/tops/tshirt-cutsew/?mmid=2453">タンクトップ</a>
              </li>
              <li>
                <a href="http://zozo.jp/category/tops/tshirt-cutsew/?mmid=2453">キャミソール</a>
              </li>
              <li>
                <a href="http://zozo.jp/category/tops/tshirt-cutsew/?mmid=2453">チューブトップ</a>
              </li>
              <li>
                <a href="http://zozo.jp/category/tops/tshirt-cutsew/?mmid=2453">その他トップス</a>
              </li>
            </ul>
          </div>
        </li>
        <li>
          <a href="/category/tops/?mmid=2453">ジャケット/アウター</a>
          <div>
            <ul>
              <li>
                <a href="http://zozo.jp/category/tops/tshirt-cutsew/?mmid=2453">Tシャツ/カットソー</a>
              </li>
              <li>
                <a href="http://zozo.jp/category/tops/tshirt-cutsew/?mmid=2453">シャツ/ブラウス</a>
              </li>
              <li>
                <a href="http://zozo.jp/category/tops/tshirt-cutsew/?mmid=2453">ポロシャツ</a>
              </li>
              <li>
                <a href="http://zozo.jp/category/tops/tshirt-cutsew/?mmid=2453">ニット/セーター</a>
              </li>
              <li>
                <a href="http://zozo.jp/category/tops/tshirt-cutsew/?mmid=2453">ベスト</a>
              </li>
              <li>
                <a href="http://zozo.jp/category/tops/tshirt-cutsew/?mmid=2453">パーカー</a>
              </li>
              <li>
                <a href="http://zozo.jp/category/tops/tshirt-cutsew/?mmid=2453">スウェット</a>
              </li>
              <li>
                <a href="http://zozo.jp/category/tops/tshirt-cutsew/?mmid=2453">カーディガン</a>
              </li>
              <li>
                <a href="http://zozo.jp/category/tops/tshirt-cutsew/?mmid=2453">アンサンブル</a>
              </li>
              <li>
                <a href="http://zozo.jp/category/tops/tshirt-cutsew/?mmid=2453">ジャージ</a>
              </li>
              <li>
                <a href="http://zozo.jp/category/tops/tshirt-cutsew/?mmid=2453">タンクトップ</a>
              </li>
              <li>
                <a href="http://zozo.jp/category/tops/tshirt-cutsew/?mmid=2453">キャミソール</a>
              </li>
              <li>
                <a href="http://zozo.jp/category/tops/tshirt-cutsew/?mmid=2453">チューブトップ</a>
              </li>
              <li>
                <a href="http://zozo.jp/category/tops/tshirt-cutsew/?mmid=2453">その他トップス</a>
              </li>
            </ul>
          </div>
        </li>
        <li>
          <a href="/category/tops/?mmid=2453">パンツ</a>
          <div>
            <ul>
              <li>
                <a href="http://zozo.jp/category/tops/tshirt-cutsew/?mmid=2453">Tシャツ/カットソー</a>
              </li>
              <li>
                <a href="http://zozo.jp/category/tops/tshirt-cutsew/?mmid=2453">シャツ/ブラウス</a>
              </li>
              <li>
                <a href="http://zozo.jp/category/tops/tshirt-cutsew/?mmid=2453">ポロシャツ</a>
              </li>
              <li>
                <a href="http://zozo.jp/category/tops/tshirt-cutsew/?mmid=2453">ニット/セーター</a>
              </li>
              <li>
                <a href="http://zozo.jp/category/tops/tshirt-cutsew/?mmid=2453">ベスト</a>
              </li>
              <li>
                <a href="http://zozo.jp/category/tops/tshirt-cutsew/?mmid=2453">パーカー</a>
              </li>
              <li>
                <a href="http://zozo.jp/category/tops/tshirt-cutsew/?mmid=2453">スウェット</a>
              </li>
              <li>
                <a href="http://zozo.jp/category/tops/tshirt-cutsew/?mmid=2453">カーディガン</a>
              </li>
              <li>
                <a href="http://zozo.jp/category/tops/tshirt-cutsew/?mmid=2453">アンサンブル</a>
              </li>
              <li>
                <a href="http://zozo.jp/category/tops/tshirt-cutsew/?mmid=2453">ジャージ</a>
              </li>
              <li>
                <a href="http://zozo.jp/category/tops/tshirt-cutsew/?mmid=2453">タンクトップ</a>
              </li>
              <li>
                <a href="http://zozo.jp/category/tops/tshirt-cutsew/?mmid=2453">キャミソール</a>
              </li>
              <li>
                <a href="http://zozo.jp/category/tops/tshirt-cutsew/?mmid=2453">チューブトップ</a>
              </li>
              <li>
                <a href="http://zozo.jp/category/tops/tshirt-cutsew/?mmid=2453">その他トップス</a>
              </li>
            </ul>
          </div>
        </li>
        <li>
          <a href="/category/tops/?mmid=2453">オールインワン</a>
          <div>
            <ul>
              <li>
                <a href="http://zozo.jp/category/tops/tshirt-cutsew/?mmid=2453">Tシャツ/カットソー</a>
              </li>
              <li>
                <a href="http://zozo.jp/category/tops/tshirt-cutsew/?mmid=2453">シャツ/ブラウス</a>
              </li>
              <li>
                <a href="http://zozo.jp/category/tops/tshirt-cutsew/?mmid=2453">ポロシャツ</a>
              </li>
              <li>
                <a href="http://zozo.jp/category/tops/tshirt-cutsew/?mmid=2453">ニット/セーター</a>
              </li>
              <li>
                <a href="http://zozo.jp/category/tops/tshirt-cutsew/?mmid=2453">ベスト</a>
              </li>
              <li>
                <a href="http://zozo.jp/category/tops/tshirt-cutsew/?mmid=2453">パーカー</a>
              </li>
              <li>
                <a href="http://zozo.jp/category/tops/tshirt-cutsew/?mmid=2453">スウェット</a>
              </li>
              <li>
                <a href="http://zozo.jp/category/tops/tshirt-cutsew/?mmid=2453">カーディガン</a>
              </li>
              <li>
                <a href="http://zozo.jp/category/tops/tshirt-cutsew/?mmid=2453">アンサンブル</a>
              </li>
              <li>
                <a href="http://zozo.jp/category/tops/tshirt-cutsew/?mmid=2453">ジャージ</a>
              </li>
              <li>
                <a href="http://zozo.jp/category/tops/tshirt-cutsew/?mmid=2453">タンクトップ</a>
              </li>
              <li>
                <a href="http://zozo.jp/category/tops/tshirt-cutsew/?mmid=2453">キャミソール</a>
              </li>
              <li>
                <a href="http://zozo.jp/category/tops/tshirt-cutsew/?mmid=2453">チューブトップ</a>
              </li>
              <li>
                <a href="http://zozo.jp/category/tops/tshirt-cutsew/?mmid=2453">その他トップス</a>
              </li>
            </ul>
          </div>
        </li>
        <li>
          <a href="/category/tops/?mmid=2453">スカート</a>
        </li>
        <li>
          <a href="/category/tops/?mmid=2453">ワンピース</a>
        </li>
        <li>
          <a href="/category/tops/?mmid=2453">スーツ/ネクタイ</a>
        </li>
        <li>
          <a href="/category/tops/?mmid=2453">バック</a>
        </li>
        <li>
          <a href="/category/tops/?mmid=2453">シューズ</a>
        </li>
        <li>
          <a href="/category/tops/?mmid=2453">ファッション雑貨</a>
        </li>
        <li>
          <a href="/category/tops/?mmid=2453">財布/小物</a>
        </li>
        <li>
          <a href="/category/tops/?mmid=2453">時計</a>
        </li>
        <li>
          <a href="/category/tops/?mmid=2453">ヘアアクセサリー</a>
        </li>
        <li>
          <a href="/category/tops/?mmid=2453">アクセサリー</a>
        </li>
        <li>
          <a href="/category/tops/?mmid=2453">アンダーウェア</a>
        </li>
        <li>
          <a href="/category/tops/?mmid=2453">レッグウェア</a>
        </li>
        <li>
          <a href="/category/tops/?mmid=2453">帽子</a>
        </li>
        <li>
          <a href="/category/tops/?mmid=2453">インテリア</a>
        </li>
        <li>
          <a href="/category/tops/?mmid=2453">食器/キッチン</a>
        </li>
        <li>
          <a href="/category/tops/?mmid=2453">雑貨/ホビー/スポーツ</a>
        </li>
        <li>
          <a href="/category/tops/?mmid=2453">コスメ/香水</a>
        </li>
        <li>
          <a href="/category/tops/?mmid=2453">音楽/本・雑誌</a>
        </li>
        <li>
          <a href="/category/tops/?mmid=2453">水着/着物・浴衣</a>
        </li>
        <li>
          <a href="/category/tops/?mmid=2453">マタニティ/ベビー</a>
        </li>
        <li>
          <a href="/category/tops/?mmid=2453">その他</a>
        </li>
      </ul>
      <p class="whole" align="right">
        <a href="/category/">カテゴリー覧</a>
      </p>
    </section>
    <section id="myFavarite" class="menuBox section menuCategory">
      <h2>お気に入り</h2>
      <ul id="normalnonmember" class="lists">
        <li class="item">
          <a href="/_member/favoritelist/">アイテム</a>
        </li>
        <li class="favariteBrand">
          <a href="/_member/favoritelist/default_brand.html">ブランド</a>
          <div>
            <ul class="clearfix nonmember">
              <li class="tit">お気に入りブランドはありません</li>
              <li class="txt">気になるブランドを見つけよう!</li>
              <li class="link">
                <a href="http://zozo.jp/_member/favoritelist/default_brand.html">お気に入りブランドはこちら</a>
              </li>
            </ul>
          </div>
        </li>
        <li class="favariteShop">
          <a href="/_member/favoritelist/default_shop.html">ショップ</a>
        </li>
      </ul>
    </section>
    <section id="menuBrand" class="menuBox section">
      <h2>ブランド</h2>
      <ol class="lists left_ranking">
        <li class="clearfix left_rank">
          <span class="iconSet iconSet1 icoSmall">1</span>
          <a href="http://zozo.jp/brand/beautyyouthunitedarrows/" title="#">SHIPS</a>
        </li>
        <li class="clearfix left_rank">
          <span class="iconSet iconSet2 icoSmall">2</span>
          <a href="http://zozo.jp/brand/beautyyouthunitedarrows/" title="#">BEAUTY&YOUTH UNITED ARROWS</a>
        </li>
        <li class="clearfix left_rank">
          <span class="iconSet iconSet3 icoSmall">3</span>
          <a href="http://zozo.jp/brand/beautyyouthunitedarrows/" title="#">BEAUTY&YOUTH UNITED ARROWS</a>
        </li>
        <li class="clearfix left_rank">
          <span class="iconSet iconSet4 icoSmall">4</span>
          <a href="http://zozo.jp/brand/beautyyouthunitedarrows/" title="#">BEAUTY&YOUTH UNITED ARROWS</a>
        </li>
        <li class="clearfix left_rank">
          <span class="iconSet iconSet5 icoSmall">5</span>
          <a href="http://zozo.jp/brand/beautyyouthunitedarrows/" title="#">BEAUTY&YOUTH UNITED ARROWS</a>
        </li>
      </ol>
      <p class="whole" align="right">
        <a href="/brand/">ブランド一覧</a>
      </p>
    </section>
    <section id="menuShop" class="menuBox section">
      <h2>ショップ</h2>
      <ol class="lists left_ranking">
        <li class="clearfix left_rank">
          <span class="iconSet iconSet1 icoSmall">1</span>
          <a href="http://zozo.jp/brand/beautyyouthunitedarrows/" title="#">BEAUTY&YOUTH UNITED ARROWS</a>
        </li>
        <li class="clearfix left_rank">
          <span class="iconSet iconSet2 icoSmall">2</span>
          <a href="http://zozo.jp/brand/beautyyouthunitedarrows/" title="#">BEAUTY&YOUTH UNITED ARROWS</a>
        </li>
        <li class="clearfix left_rank">
          <span class="iconSet iconSet3 icoSmall">3</span>
          <a href="http://zozo.jp/brand/beautyyouthunitedarrows/" title="#">BEAUTY&YOUTH UNITED ARROWS</a>
        </li>
        <li class="clearfix left_rank">
          <span class="iconSet iconSet4 icoSmall">4</span>
          <a href="http://zozo.jp/brand/beautyyouthunitedarrows/" title="#">BEAUTY&YOUTH UNITED ARROWS</a>
        </li>
        <li class="clearfix left_rank">
          <span class="iconSet iconSet5 icoSmall">5</span>
          <a href="http://zozo.jp/brand/beautyyouthunitedarrows/" title="#">BEAUTY&YOUTH UNITED ARROWS</a>
        </li>
      </ol>
      <p class="whole" align="right">
        <a href="/shop/">ショップ一覧</a>
      </p>
    </section>
    <section id="menuSite" class="menuBox section">
      <h2>モール</h2>
      <ul class="lists">
        <li>
          <a href="/zozoused/">ZOZOUSED</a>
        </li>
      </ul>
    </section>
    <div id="menuBanner" class="menuBox section">
      <ul>
        <li>
          <a href="http://sell.zozo.jp/?utm_source=zozo&utm_medium=referral&utm_campaign=top_banner">
            <image src="http://img4.zozo.jp/fix/town/default/pc_banner_used_20170907.png" width="174" height="88" alt="#">
            </image>
          </a>
        </li>
      </ul>
    </div>
    <section class="menuBox section munuRecruit">
      <h2>採用情報</h2>
      <div class="recruitBanner">
        <ul class="bannerPickup">
          <li class="bannaerPickupItem">
            <a class="bannerPickupLink" href="https://www.starttoday.jp/recruit/salesstaff/" target="_blank">
              <image src="http://img4.zozo.jp/fix/town/default/pc_banner_recruit_20180314_st.png" width="174" height="88" alt="#">
              </image>
            </a>
          </li>
        </ul>
        <ul class="bannerRecruit">
          <li class="bannerRecruitItem bannerRecruitNew">
            <a class="bannerRecruitLink" href="https://www.starttoday.jp/recruit/career/ec-sales/" target="_blank">
              <p class="bannerRecruitKind">ブランド営業・運営サポート中途採用</p>
              <p class="bannerRecruitScope">
                ZOZOTOWN
                <span class="bannerRecruitDeadline">6/29(金) 締切</span>
              </p>
            </a>
          </li>
          <li class="bannerRecruitItem">
            <a class="bannerRecruitLink" href="https://www.starttoday-tech.com/recruit/" target="_blank">
              <p class="bannerRecruitKind">エンジニア・アナリスト中途採用</p>
              <p class="bannerRecruitScope">ZOZOTOWN・WEAR</p>
            </a>
          </li>
          <li class="bannerRecruitItem">
            <a class="bannerRecruitLink" href="https://www.crownjewel.co.jp/recruit/" target="_blank">
              <p class="bannerRecruitKind">エンジニア・商品管理中途採用</p>
              <p class="bannerRecruitScope">ZOZOUSED</p>
            </a>
          </li>
        </ul>
      </div>
    </section>
  </div>

  <div class="middle">
    <section class="section">
      <div class="sectionHeader">
        <h2>クーポン対象アイテム</h2>
      </div>
      <div class="couponItem clearfix">
        <ul class="rankingList clearfix">
          <li class="rank1">
            <div class="listInner clearfix">
              <div class="photo">
                <!-- 仮でproduct1へのリンク -->
                <a href="/products/1">
                  <img src="//img5.zozo.jp/goodsimages/813/32567813/32567813_8_D_215.jpg" alt="#">
                  <div class="coupon_text">
                    <span>¥1,000クーポン</span>
                  </div>
                </a>
              </div>
              <p class="brandName">JILLSTUARTTTTTTTTTTTTTTTTTTTTTTTTTTTT</p>
              <p class="price">
                ¥16,200<span class="tax">税込</span>
              </p>
            </div>
          </li>
          <li class="rank2">
            <div class="listInner clearfix">
              <div class="photo">
                <a href="http://zozo.jp/shop/jillstuart/goods/31567813/?did=55270922&rid=1093">
                  <img src="//img5.zozo.jp/goodsimages/813/32567813/32567813_8_D_215.jpg" alt="#">
                  <div class="coupon_text">
                    <span>¥1,000クーポン</span>
                  </div>
                </a>
              </div>
              <p class="brandName">JILLSTUART</p>
              <p class="price">
                ¥16,200<span class="tax">税込</span>
              </p>
            </div>
          </li>
          <li class="rank3">
            <div class="listInner clearfix">
              <div class="photo">
                <a href="http://zozo.jp/shop/jillstuart/goods/31567813/?did=55270922&rid=1093">
                  <img src="//img5.zozo.jp/goodsimages/813/32567813/32567813_8_D_215.jpg" alt="#">
                  <div class="coupon_text">
                    <span>¥1,000クーポン</span>
                  </div>
                </a>
              </div>
              <p class="brandName">JILLSTUART</p>
              <p class="price">
                ¥16,200<span class="tax">税込</span>
              </p>
            </div>
          </li>

          </li>
          <li class="rank4">
            <div class="listInner clearfix">
              <div class="photo">
                <a href="http://zozo.jp/shop/jillstuart/goods/31567813/?did=55270922&rid=1093">
                  <img src="//img5.zozo.jp/goodsimages/813/32567813/32567813_8_D_215.jpg" alt="#">
                  <div class="coupon_text">
                    <span>¥1,000クーポン</span>
                  </div>
                </a>
              </div>
              <p class="brandName">JILLSTUART</p>
              <p class="price">
                ¥16,200<span class="tax">税込</span>
              </p>
            </div>
          </li>
          <li class="rank5">
            <div class="listInner clearfix">
              <div class="photo">
                <a href="http://zozo.jp/shop/jillstuart/goods/31567813/?did=55270922&rid=1093">
                  <img src="//img5.zozo.jp/goodsimages/813/32567813/32567813_8_D_215.jpg" alt="#">
                  <div class="coupon_text">
                    <span>¥1,000クーポン</span>
                  </div>
                </a>
              </div>
              <p class="brandName">JILLSTUART</p>
              <p class="price">
                ¥16,200
                <span class="tax">税込</span>
              </p>
            </div>
          </li>
          <li class="rank6">
            <div class="listInner clearfix">
              <div class="photo">
                <a href="http://zozo.jp/shop/jillstuart/goods/31567813/?did=55270922&rid=1093">
                  <img src="//img5.zozo.jp/goodsimages/813/32567813/32567813_8_D_215.jpg" alt="#">
                  <div class="coupon_text">
                    <span>¥1,000クーポン</span>
                  </div>
                </a>
              </div>
              <p class="brandName">JILLSTUART</p>
              <p class="price">
                ¥16,200
                <span class="tax">税込</span>
              </p>
            </div>
          </li>
          <li class="rank7">
            <div class="listInner clearfix">
              <div class="photo">
                <a href="http://zozo.jp/shop/jillstuart/goods/31567813/?did=55270922&rid=1093">
                  <img src="//img5.zozo.jp/goodsimages/813/32567813/32567813_8_D_215.jpg" alt="#">
                  <div class="coupon_text">
                    <span>¥1,000クーポン</span>
                  </div>
                </a>
              </div>
              <p class="brandName">JILLSTUART</p>
              <p class="price">
                ¥16,200
                <span class="tax">税込</span>
              </p>
            </div>
          </li>
        </ul>
      </div>
      <p class="more">
        <a href="#">クーポン対象アイテム一覧</a>
      </p>
    </section>

    <section class="section">
      <div class="sectionHeader">
        <h2>人気アイテムランキング</h2>
      </div>
      <div class="popularItem">
        <ul class="rankingList clearfix">
          <li class="rank1">
            <div class="listInner clearfix">
              <div class="rank clearfix">
                <span class="rankIcon rankIcon1">1</span>
              </div>
              <div class="photo">
                <a href="http://zozo.jp/shop/adametrope/goods/31552662/?did=55189556&rid=1003">
                  <img src="http://img5.zozo.jp/goodsimages/662/32552662/32552662B_151_D_215.jpg" alt="#">
                </a>
              </div>
              <p class="brandName">JILLSTUART</p>
              <p class="price">
                ¥16,200
                <span class="tax">税込</span>
              </p>
            </div>
          </li>
          <li class="rank1">
            <div class="listInner clearfix">
              <div class="rank clearfix">
                <span class="rankIcon rankIcon2">2</span>
              </div>
              <div class="photo">
                <a href="http://zozo.jp/shop/adametrope/goods/31552662/?did=55189556&rid=1003">
                  <img src="http://img5.zozo.jp/goodsimages/662/32552662/32552662B_151_D_215.jpg" alt="#">
                </a>
              </div>
              <p class="brandName">JILLSTUART</p>
              <p class="price">
                ¥16,200
                <span class="tax">税込</span>
              </p>
            </div>
          </li>
          <li class="rank1">
            <div class="listInner clearfix">
              <div class="rank clearfix">
                <span class="rankIcon rankIcon3">3</span>
              </div>
              <div class="photo">
                <a href="http://zozo.jp/shop/adametrope/goods/31552662/?did=55189556&rid=1003">
                  <img src="http://img5.zozo.jp/goodsimages/662/32552662/32552662B_151_D_215.jpg" alt="#">
                </a>
              </div>
              <p class="brandName">JILLSTUART</p>
              <p class="price">
                ¥16,200
                <span class="tax">税込</span>
              </p>
            </div>
          </li>
          <li class="rank4">
            <div class="listInner clearfix">
              <div class="rank clearfix">
                <span class="rankIcon iconSmall">4</span>
              </div>
              <div class="photo">
                <a href="http://zozo.jp/shop/adametrope/goods/31552662/?did=55189556&rid=1003">
                  <img src="http://img5.zozo.jp/goodsimages/662/32552662/32552662B_151_D_215.jpg" alt="#">
                </a>
              </div>
              <p class="brandName">JILLSTUART</p>
              <p class="price">
                ¥16,200
                <span class="tax">税込</span>
              </p>
            </div>
          </li>
          <li class="rank5">
            <div class="listInner clearfix">
              <div class="rank clearfix">
                <span class="rankIcon iconSmall">5</span>
              </div>
              <div class="photo">
                <a href="http://zozo.jp/shop/adametrope/goods/31552662/?did=55189556&rid=1003">
                  <img src="http://img5.zozo.jp/goodsimages/662/32552662/32552662B_151_D_215.jpg" alt="#">
                </a>
              </div>
              <p class="brandName">JILLSTUART</p>
              <p class="price">
                ¥16,200
                <span class="tax">税込</span>
              </p>
            </div>
          </li>
          <li class="rank6">
            <div class="listInner clearfix">
              <div class="rank clearfix">
                <span class="rankIcon iconSmall">6</span>
              </div>
              <div class="photo">
                <a href="http://zozo.jp/shop/adametrope/goods/31552662/?did=55189556&rid=1003">
                  <img src="http://img5.zozo.jp/goodsimages/662/32552662/32552662B_151_D_215.jpg" alt="#">
                </a>
              </div>
              <p class="brandName">JILLSTUART</p>
              <p class="price">
                ¥16,200
                <span class="tax">税込</span>
              </p>
            </div>
          </li>
          <li class="rank7">
            <div class="listInner clearfix">
              <div class="rank clearfix">
                <span class="rankIcon iconSmall">7</span>
              </div>
              <div class="photo">
                <a href="http://zozo.jp/shop/adametrope/goods/31552662/?did=55189556&rid=1003">
                  <img src="http://img5.zozo.jp/goodsimages/662/32552662/32552662B_151_D_215.jpg" alt="#">
                </a>
              </div>
              <p class="brandName">JILLSTUART</p>
              <p class="price">
                ¥16,200
                <span class="tax">税込</span>
              </p>
            </div>
          </li>
          <li class="rank8">
            <div class="listInner clearfix">
              <div class="rank clearfix">
                <span class="rankIcon iconSmall">8</span>
              </div>
              <div class="photo">
                <a href="http://zozo.jp/shop/adametrope/goods/31552662/?did=55189556&rid=1003">
                  <img src="http://img5.zozo.jp/goodsimages/662/32552662/32552662B_151_D_215.jpg" alt="#">
                </a>
              </div>
              <p class="brandName">JILLSTUART</p>
              <p class="price">
                ¥16,200
                <span class="tax">税込</span>
              </p>
            </div>
          </li>
          <li class="rank9">
            <div class="listInner clearfix">
              <div class="rank clearfix">
                <span class="rankIcon iconSmall">9</span>
              </div>
              <div class="photo">
                <a href="http://zozo.jp/shop/adametrope/goods/31552662/?did=55189556&rid=1003">
                  <img src="http://img5.zozo.jp/goodsimages/662/32552662/32552662B_151_D_215.jpg" alt="#">
                </a>
              </div>
              <p class="brandName">JILLSTUART</p>
              <p class="price">
                ¥16,200
                <span class="tax">税込</span>
              </p>
            </div>
          </li>
          <li class="rank10">
            <div class="listInner clearfix">
              <div class="rank clearfix">
                <span class="rankIcon iconSmall">10</span>
              </div>
              <div class="photo">
                <a href="http://zozo.jp/shop/adametrope/goods/31552662/?did=55189556&rid=1003">
                  <img src="http://img5.zozo.jp/goodsimages/662/32552662/32552662B_151_D_215.jpg" alt="#">
                </a>
              </div>
              <p class="brandName">JILLSTUART</p>
              <p class="price">
                ¥16,200
                <span class="tax">税込</span>
              </p>
            </div>
          </li>
          <li class="rank11">
            <div class="listInner clearfix">
              <div class="rank clearfix">
                <span class="rankIcon iconSmall">11</span>
              </div>
              <div class="photo">
                <a href="http://zozo.jp/shop/adametrope/goods/31552662/?did=55189556&rid=1003">
                  <img src="http://img5.zozo.jp/goodsimages/662/32552662/32552662B_151_D_215.jpg" alt="#">
                </a>
              </div>
              <p class="brandName">JILLSTUART</p>
              <p class="price">
                ¥16,200
                <span class="tax">税込</span>
              </p>
            </div>
          </li>
        </ul>
      </div>
      <p class="more">
        <a href="#">ランキング一覧</a>
      </p>
    </section>

    <section class="section">
      <div class="sectionHeader">
        <h2>コーディネート <span>powered by <a href="#">WEAR</a></span></h2>
      </div>
      <div class="cordinate">
        <ol class="clearfix">
          <li>
            <div class="listInner clearfix">
              <div class="rank clearfix">
                <span class="rankIcon rankIcon1">1</span>
              </div>
              <div class="photo">
                <a href="#">
                  <img src="http://cdn.wimg.jp/coordinate/ue5ne4/20180518161225235/20180518161225235_276.jpg" alt="#">
                </a>
              </div>
              <p>WEARISTA</p>
            </div>
          </li>
          <li>
            <div class="listInner clearfix">
              <div class="rank clearfix">
                <span class="rankIcon rankIcon2">2</span>
              </div>
              <div class="photo">
                <a href="#">
                  <img src="http://cdn.wimg.jp/coordinate/ue5ne4/20180518161225235/20180518161225235_276.jpg" alt="#">
                </a>
              </div>
              <p>WEARISTA</p>
            </div>
          </li>
          <li>
            <div class="listInner clearfix">
              <div class="rank clearfix">
                <span class="rankIcon rankIcon3">3</span>
              </div>
              <div class="photo">
                <a href="#">
                  <img src="http://cdn.wimg.jp/coordinate/ue5ne4/20180518161225235/20180518161225235_276.jpg" alt="#">
                </a>
              </div>
              <p>WEARISTA</p>
            </div>
          </li>
          <li>
            <div class="listInner clearfix">
              <div class="rank clearfix">
                <span class="rankIcon rankIcon1">1</span>
              </div>
              <div class="photo">
                <a href="#">
                  <img src="http://cdn.wimg.jp/coordinate/ue5ne4/20180518161225235/20180518161225235_276.jpg" alt="#">
                </a>
              </div>
              <p>WEARISTA</p>
            </div>
          </li>
        </ol>
        <div class="more clearfix">
          <span class="cordinate_ranking_btn">
            <a href="#">コーディネートランキング</a>
          </span>
          <span class="cordinate_list_btn last">
            <a href="#">コーディネート一覧</a>
          </span>
        </div>
      </div>
    </section>

    <section class="section">
      <div class="sectionHeader">
        <h2>チェックしたアイテム</h2>
      </div>
      <div class="checkedItem">
        <ul class="clearfix">
          <li>
            <a href="#">
              <img src="http://img5.zozo.jp/goodsimages/521/18631521/18631521B_34_D_215.jpg" alt="#">
            </a>
            <p class="price">
              ¥3,400<span class="tax">税込</span>
            </p>
          </li>
          <li>
            <a href="#">
              <img src="http://img5.zozo.jp/goodsimages/521/18631521/18631521B_34_D_215.jpg" alt="#">
            </a>
            <p class="price">
              ¥3,400<span class="tax">税込</span>
            </p>
          </li>
          <li>
            <a href="#">
              <img src="http://img5.zozo.jp/goodsimages/521/18631521/18631521B_34_D_215.jpg" alt="#">
            </a>
            <p class="price">
              ¥3,400<span class="tax">税込</span>
            </p>
          </li>
          <li>
            <a href="#">
              <img src="http://img5.zozo.jp/goodsimages/521/18631521/18631521B_34_D_215.jpg" alt="#">
            </a>
            <p class="price">
              ¥3,400<span class="tax">税込</span>
            </p>
          </li>
          <li>
            <a href="#">
              <img src="http://img5.zozo.jp/goodsimages/521/18631521/18631521B_34_D_215.jpg" alt="#">
            </a>
            <p class="price">
              ¥3,400<span class="tax">税込</span>
            </p>
          </li>
          <li>
            <a href="#">
              <img src="http://img5.zozo.jp/goodsimages/521/18631521/18631521B_34_D_215.jpg" alt="#">
            </a>
            <p class="price">
              ¥3,400<span class="tax">税込</span>
            </p>
          </li>
          <li>
            <a href="#">
              <img src="http://img5.zozo.jp/goodsimages/521/18631521/18631521B_34_D_215.jpg" alt="#">
            </a>
            <p class="price">
              ¥3,400<span class="tax">税込</span>
            </p>
          </li>
        </ul>
        <ul class="clearfix">
          <li>
            <a href="#">
              <img src="http://img5.zozo.jp/goodsimages/521/18631521/18631521B_34_D_215.jpg" alt="#">
            </a>
            <p class="price">
              ¥3,400<span class="tax">税込</span>
            </p>
          </li>
          <li>
            <a href="#">
              <img src="http://img5.zozo.jp/goodsimages/521/18631521/18631521B_34_D_215.jpg" alt="#">
            </a>
            <p class="price">
              ¥3,400<span class="tax">税込</span>
            </p>
          </li>
          <li>
            <a href="#">
              <img src="http://img5.zozo.jp/goodsimages/521/18631521/18631521B_34_D_215.jpg" alt="#">
            </a>
            <p class="price">
              ¥3,400<span class="tax">税込</span>
            </p>
          </li>
          <li>
            <a href="#">
              <img src="http://img5.zozo.jp/goodsimages/521/18631521/18631521B_34_D_215.jpg" alt="#">
            </a>
            <p class="price">
              ¥3,400<span class="tax">税込</span>
            </p>
          </li>
          <li>
            <a href="#">
              <img src="http://img5.zozo.jp/goodsimages/521/18631521/18631521B_34_D_215.jpg" alt="#">
            </a>
            <p class="price">
              ¥3,400<span class="tax">税込</span>
            </p>
          </li>
          <li>
            <a href="#">
              <img src="http://img5.zozo.jp/goodsimages/521/18631521/18631521B_34_D_215.jpg" alt="#">
            </a>
            <p class="price">
              ¥3,400<span class="tax">税込</span>
            </p>
          </li>
          <li>
            <a href="#">
              <img src="http://img5.zozo.jp/goodsimages/521/18631521/18631521B_34_D_215.jpg" alt="#">
            </a>
            <p class="price">
              ¥3,400<span class="tax">税込</span>
            </p>
          </li>
        </ul>
        <ul class="clearfix">
          <li>
            <a href="#">
              <img src="http://img5.zozo.jp/goodsimages/521/18631521/18631521B_34_D_215.jpg" alt="#">
            </a>
            <p class="price">
              ¥3,400<span class="tax">税込</span>
            </p>
          </li>
          <li>
            <a href="#">
              <img src="http://img5.zozo.jp/goodsimages/521/18631521/18631521B_34_D_215.jpg" alt="#">
            </a>
            <p class="price">
              ¥3,400<span class="tax">税込</span>
            </p>
          </li>
          <li>
            <a href="#">
              <img src="http://img5.zozo.jp/goodsimages/521/18631521/18631521B_34_D_215.jpg" alt="#">
            </a>
            <p class="price">
              ¥3,400<span class="tax">税込</span>
            </p>
          </li>
          <li>
            <a href="#">
              <img src="http://img5.zozo.jp/goodsimages/521/18631521/18631521B_34_D_215.jpg" alt="#">
            </a>
            <p class="price">
              ¥3,400<span class="tax">税込</span>
            </p>
          </li>
          <li>
            <a href="#">
              <img src="http://img5.zozo.jp/goodsimages/521/18631521/18631521B_34_D_215.jpg" alt="#">
            </a>
            <p class="price">
              ¥3,400<span class="tax">税込</span>
            </p>
          </li>
          <li>
            <a href="#">
              <img src="http://img5.zozo.jp/goodsimages/521/18631521/18631521B_34_D_215.jpg" alt="#">
            </a>
            <p class="price">
              ¥3,400<span class="tax">税込</span>
            </p>
          </li>
          <li>
            <a href="#">
              <img src="http://img5.zozo.jp/goodsimages/521/18631521/18631521B_34_D_215.jpg" alt="#">
            </a>
            <p class="price">
              ¥3,400<span class="tax">税込</span>
            </p>
          </li>
        </ul>
      </div>
    </section>

    <section class="section">
      <div class="sectionHeader">
        <h2>チェックしたショップ</h2>
      </div>
      <div class="checkedShop">
        <ul class="clearfix">
          <li>
            <a href="#">
              <img src="http://img4.zozo.jp/common/shop/shop_1464.jpg" alt="">
            </a>
          </li>
          <li>
            <a href="#">
              <img src="http://img4.zozo.jp/common/shop/shop_1464.jpg" alt="">
            </a>
          </li>
          <li>
            <a href="#">
              <img src="http://img4.zozo.jp/common/shop/shop_1464.jpg" alt="">
            </a>
          </li>
          <li>
            <a href="#">
              <img src="http://img4.zozo.jp/common/shop/shop_1464.jpg" alt="">
            </a>
          </li>
          <li>
            <a href="#">
              <img src="http://img4.zozo.jp/common/shop/shop_1464.jpg" alt="">
            </a>
          </li>
          <li>
            <a href="#">
              <img src="http://img4.zozo.jp/common/shop/shop_1464.jpg" alt="">
            </a>
          </li>
          <li>
            <a href="#">
              <img src="http://img4.zozo.jp/common/shop/shop_1464.jpg" alt="">
            </a>
          </li>
        </ul>
        <ul class="clearfix">
          <li>
            <a href="#">
              <img src="http://img4.zozo.jp/common/shop/shop_1464.jpg" alt="">
            </a>
          </li>
          <li>
            <a href="#">
              <img src="http://img4.zozo.jp/common/shop/shop_1464.jpg" alt="">
            </a>
          </li>
          <li>
            <a href="#">
              <img src="http://img4.zozo.jp/common/shop/shop_1464.jpg" alt="">
            </a>
          </li>
          <li>
            <a href="#">
              <img src="http://img4.zozo.jp/common/shop/shop_1464.jpg" alt="">
            </a>
          </li>
          <li>
            <a href="#">
              <img src="http://img4.zozo.jp/common/shop/shop_1464.jpg" alt="">
            </a>
          </li>
          <li>
            <a href="#">
              <img src="http://img4.zozo.jp/common/shop/shop_1464.jpg" alt="">
            </a>
          </li>
          <li>
            <a href="#">
              <img src="http://img4.zozo.jp/common/shop/shop_1464.jpg" alt="">
            </a>
          </li>
        </ul>
      </div>
    </section>

    <section class="section introZozo">
      <div class="sectionHeader">
        <h2>ZOZOTOWN（ゾゾタウン）のご紹介</h2>
      </div>
      <div class="text">
        <p>ZOZOTOWNではトップス・パンツ・ワンピースなど最新トレンドアイテムをオンラインでご購入いただけます。ZOZOは6756ブランドの人気アイテムを公式に取扱うファッション通販サイトです！</p>
      </div>
      <ul class="clearfix">
        <li>
          <a href="#">ZOZOTOWNお買いものガイド</a>
        </li>
        <li>
          <a href="#">会員登録はこちらから</a>
        </li>
        <li class="last">
          <a href="#">メールマガジン購読</a>
        </li>
      </ul>
    </section>
  </div>
  <div class="right-content">
    <div class="ad-part">
      <div class="square">
        <%= link_to "http://zozo.jp/zozosuit/" do %>
          <%= image_tag "http://img4.zozo.jp/pc/zozosuit/img/banner/zozosuit_banner_5.--.png", class: "ad-image" %>
        <% end %>
      </div>
      <div class="rectangle">
        <%= link_to "http://zozo.jp/pb/" do %>
          <%= image_tag "http://img4.zozo.jp/pc/pb/img/banner/originalbrand_busbanner_20180427.jpg", class: "ad-image" %>
        <% end %>
      </div>
      <div class="rectangle">
        <%= link_to "http://zozo.jp/sale/?sex=men" do %>
          <%= image_tag "http://img4.zozo.jp/sale/2018summer_pre/pc/pre_pc_bus.jpg", class: "ad-image" %>
        <% end %>
      </div>
    </div>

    <div class="shopnews">
      <h2>ショップニュース</h2>
      <ol>
        <li>
          <%= link_to "http://zozo.jp/search/?sex=men&p_tpcsid=727952" do %>
            <div class="rank clearfix">
              <span class="rankIcon icon_small pick_icon">PICK<br>UP</span>
            </div>
            <%= image_tag "http://img4.zozo.jp/shoptopics/110/727952.jpg", class: "news-image" %>
            <div class="description">
              <span>ブランド名<span>
              <p>説明</p>
            </div>
          <% end %>
        </li>
        <li>
          <%= link_to "http://zozo.jp/search/?sex=men&p_tpcsid=727952" do %>
            <div class="rank clearfix">
              <span class="rankIcon icon_small rankIcon1">1</span>
            </div>
            <%= image_tag "http://img4.zozo.jp/shoptopics/110/727952.jpg", class: "news-image" %>
            <div class="description">
              <span>ブランド名<span>
              <p>説明</p>
            </div>
          <% end %>
        </li>
        <li>
          <%= link_to "http://zozo.jp/search/?sex=men&p_tpcsid=727952" do %>
            <div class="rank clearfix">
              <span class="rankIcon icon_small rankIcon2">2</span>
            </div>
            <%= image_tag "http://img4.zozo.jp/shoptopics/110/727952.jpg", class: "news-image" %>
            <div class="description">
              <span>ブランド名<span>
              <p>説明</p>
            </div>
          <% end %>
        </li>
        <li>
          <%= link_to "http://zozo.jp/search/?sex=men&p_tpcsid=727952" do %>
            <div class="rank clearfix">
              <span class="rankIcon icon_small rankIcon3">3</span>
            </div>
            <%= image_tag "http://img4.zozo.jp/shoptopics/110/727952.jpg", class: "news-image" %>
            <div class="description">
              <span>ブランド名<span>
              <p>説明</p>
            </div>
          <% end %>
        </li>
      </ol>
    </div>
    <div class="shopnews-list">
      <%= link_to "ショップニュース一覧", "http://zozo.jp/topics/men/" %>
    </div>

    <div class="fashionnews">
      <h2>ファッションまとめ</h2>
      <ol>
        <li>
          <%= link_to "http://zozo.jp/search/?sex=men&p_tpcsid=727952" do %>
            <div class="rank clearfix">
              <span class="rankIcon icon_small pick_icon">PICK<br>UP</span>
            </div>
            <%= image_tag "http://img4.zozo.jp/fashionnews/107377/master_130_1.jpg", class: "news-image" %>
            <div class="description">
              <p>説明</p>
              <span>名前<span>
            </div>
          <% end %>
        </li>
        <li>
          <%= link_to "http://zozo.jp/search/?sex=men&p_tpcsid=727952" do %>
            <div class="rank clearfix">
              <span class="rankIcon icon_small rankIcon1">1</span>
            </div>
            <%= image_tag "http://img4.zozo.jp/fashionnews/107377/master_130_1.jpg", class: "news-image" %>
            <div class="description">
              <p>説明</p>
              <span>名前<span>
            </div>
          <% end %>
        </li>
        <li>
          <%= link_to "http://zozo.jp/search/?sex=men&p_tpcsid=727952" do %>
            <div class="rank clearfix">
              <span class="rankIcon icon_small rankIcon2">2</span>
            </div>
            <%= image_tag "http://img4.zozo.jp/fashionnews/107377/master_130_1.jpg", class: "news-image" %>
            <div class="description">
              <p>説明</p>
              <span>名前<span>
            </div>
          <% end %>
        </li>
        <li>
          <%= link_to "http://zozo.jp/search/?sex=men&p_tpcsid=727952" do %>
            <div class="rank clearfix">
              <span class="rankIcon icon_small rankIcon3">3</span>
            </div>
            <%= image_tag "http://img4.zozo.jp/fashionnews/107377/master_130_1.jpg", class: "news-image" %>
            <div class="description">
              <p>説明</p>
              <span>名前<span>
            </div>
          <% end %>
        </li>
      </ol>
    </div>
    <div class="fashionnews-list">
      <%= link_to "ファッションまとめ一覧", "http://zozo.jp/topics/men/" %>
    </div>

    <div class="pickup-link">
      <ul>
        <li>
          <%= link_to "http://zozo.jp/topics/men/" do %>
            <%= image_tag "http://img4.zozo.jp/fashionnews/107508/master_130_1.jpg", class: "pickup-image" %>
            <div class="description">
              <p><span>プレセール開催中！</span></p>
            </div>
          <% end %>
        </li>
        <li>
          <%= link_to "http://zozo.jp/topics/men/" do %>
            <%= image_tag "http://img4.zozo.jp/fashionnews/107508/master_130_1.jpg", class: "pickup-image" %>
            <div class="description">
              <p>父の日ギフト特集</p>
            </div>
          <% end %>
        </li>
        <li>
          <%= link_to "http://zozo.jp/topics/men/" do %>
            <%= image_tag "http://img4.zozo.jp/fashionnews/107508/master_130_1.jpg", class: "pickup-image" %>
            <div class="description">
              <p>ブランド服を買取中！</p>
            </div>
          <% end %>
        </li>
        <li>
          <%= link_to "http://zozo.jp/topics/men/" do %>
            <%= image_tag "http://img4.zozo.jp/fashionnews/107508/master_130_1.jpg", class: "pickup-image" %>
            <div class="description">
              <p>ZOZOCARD</p>
            </div>
          <% end %>
        </li>
        <li>
          <%= link_to "http://zozo.jp/topics/men/" do %>
            <%= image_tag "http://img4.zozo.jp/fashionnews/107508/master_130_1.jpg", class: "pickup-image" %>
            <div class="description">
              <p>Disney on ZOZOTOWN</p>
            </div>
          <% end %>
        </li>
      </ul>
    </div>

    <div class="mail-lists">
      <div class="mail-list">
        <%= link_to "http://zozo.jp/designersbrandzone/" do %>
          <h3>DESIGNERS BRAND ZONE</h3>
          <div class="description">
            <p>国内外のラグジュアリーブランドが集結したデザイナーズゾーン！</p>
          </div>
        <% end %>
      </div>
      <div class="mail-list">
        <%= link_to "http://zozo.jp/zozoused/" do %>
          <h3>ZOZOUSED</h3>
          <div class="description">
            <p>欲しいが必ず見つかる！<br>ブランド古着が最大70％OFF！</p>
          </div>
        <% end %>
      </div>
      <div class="mail-list">
        <%= link_to "https://wear.jp/" do %>
          <h3>WEAR</h3>
          <div class="description">
            <p>着こなしの検索や、コーデ投稿が出来るファッションアプリ登場</p>
          </div>
        <% end %>
        <ul class="app_store clearfix">
          <li class="ios">
            <a href="#">
              <img src="http://marveltsumtsumgame.jp/assets/images/common/app_banner-itunes.svg" alt="">
            </a>
          </li>
          <li class="android">
            <a href="#">
              <img src="http://marveltsumtsumgame.jp/assets/images/common/app_banner-googleplay.png" alt="">
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="sns-lists">
      <h3>公式SNS</h3>
      <ul>
        <li class="twitter">
          <%= link_to "" do %>
            <%= image_tag "http://imgc.appbank.net/c/wp-content/uploads/2014/03/Howto-Twitter-App-Renkei-10.jpg", class: "sns-icon"%>
          <% end %>
        </li>
        <li class="facebook">
          <%= link_to "" do %>
            <%= image_tag "http://imgc.appbank.net/c/wp-content/uploads/2009/06/facebook.jpg", class: "sns-icon"%>
          <% end %>
        </li>
        <li class="instagram">
          <%= link_to "" do %>
            <%= image_tag "http://imgc.appbank.net/c/wp-content/uploads/2016/06/Instagram.jpg", class: "sns-icon"%>
          <% end %>
        </li>
      </ul>
    </div>

    <div class="line-friend">
      <%= link_to "http://zozo.jp/line/" do %>
        <%= image_tag "http://img4.zozo.jp/pc/default_2015/line_omikuji/side_banner.png" %>
      <% end %>
    </div>
  </div>
</div>
