<!-- ショップ名ロゴ -->
<!-- <div class="contentHeader">
  <div class="content-inner">
    jackrose
  </div>
</div> -->
<%= render '/layouts/header' %>
<%= render '/layouts/contents-bar' %>
<!-- パンくずリスト -->
<div class=breadcrumbs>
  <%= render_breadcrumbs separator: ' ＞ ' %>
</div>
<!-- 以下メインボディ -->
<div class="products_details_main">
    <!-- 大川作成 -->
  <%= render '/products/products_details_main__left' %>
    <!-- 芝田さん作成 -->
  <%= render '/products/products_details_main__right' %>
   <!-- contactページ -->
  <%= render 'contacts/contacts' %>
</div>
<%= render '/layouts/footer' %>
